$big-size: 80px;

$default-font-family: 'Courier New', Courier, monospace;
$default-font-size: 32px;

body {
    background-color: #444;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: $default-font-family;
    font-size: $big-size;
    color: white;
}

.container {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border: 5px solid black;
    transform: translateY(50%);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    border: 3px solid magenta;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $big-size;
    color: white;
}

.header {
    background-color: #eee;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

header {
    font-size: $big-size;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

#input-container {
    color: white;
    font-size: $default-font-size;
    font-family: $default-font-family;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);    
}

#input-container input {
    width: 200px;
}

#winner-display {
    position: absolute;
    top: 30%;
    left: 180%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
}

#restart-button {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    appearance: none;
    font-size: 60px;
    padding: 3px 28px;
    border: 3px solid magenta;
    border-radius: 15px;
    background-color: #ccc;
    cursor: pointer;
    font-family: $default-font-family;
}